---
title: About - Gallery
meta_desc: 
url: https://eleventy-gallery.netlify.app/about
img: 
alt: 
eleventyNavigation:
  key: About
  order: 3
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>Wishing you winds of good fortune！</p>
  <p>Thank you for visiting! Email me if there’s anything.</p>




</div>
