---
title: About - Eleventy Photo Gallery
meta_desc: A page about John Smith, and photography. This template is currently the default version so add your own about me page info here.
url: https://eleventy-gallery.netlify.app/about
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
eleventyNavigation:
  key: About
  order: 2
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>Hi, I'm Ali,a passionate novice digital artist who focuses on capturing moments of beauty and emotion through brushes and pixels. Digital painting is a form of artistic expression that I have been exploring and pursuing for many years. This website showcases my creative process over the years, from early experimental works to the latest artistic explorations, and each work represents my growth and progress.</p>
  <p>As a digital art enthusiast, I firmly believe that learning is a never-ending journey. I constantly experiment with new tools and techniques, from SAI to Photoshop, and from traditional sketches to modern digital painting methods, all of which push me to continually evolve as an artist. I will also keep updating my portfolio to share my artistic journey with you.</p>
  <p>Thank you for visiting, and I truly appreciate your support!</p>




</div>
